body {
  background: #282a36;

  max-width: 1120px;

  margin: auto !important;
}

fieldset.session {
  /* border: 1px solid #fff; */

  /* margin: auto 32px; */
  display: flex;
  flex-direction: column;
}

.flex-direction-column {
  flex-direction: column;
}

.form-group label {
  color: #fff;
}

.products {
  display: flex;
  flex-direction: column;
}

.products li + li {
  margin-top: 32px;
}

.add-item-button {
  margin-left: auto !important;
}

.product {
  display: flex;
  align-items: center;
}

.product fieldset {
  margin-left: 16px;
}

.product section .group {
  display: flex;
  justify-content: space-between;
}

.product section .group div + div {
  margin-left: 16px;
}

.session-attachment {
  display: flex;
  flex-direction: row !important;
}

.session-attachment button {
  margin-bottom: auto;
}

#inputFile {
  display: none;
}
